.strategies .strategy {
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-right: 37%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    transition: box-shadow 0.5s ease-in-out;
    color: black;
  }

  .strategies .strategy:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    transition: box-shadow 0.5s ease-in-out;
  }
  [data-load] {
    width: 5em;
    height: 5em;
    border-radius: calc(5 / 16 * 1rem);
    position: relative;
    cursor: wait;
    overflow: clip;
    contain: content;
}

[data-load="loaded"] {
    cursor: auto;
}

[data-load]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    aspect-ratio: 1 / 1;
    background-color: dodgerblue;
}

[data-load="loaded"]::before {
    animation: explode 0.2s linear;
}

[data-load="loaded"]::after {
    display: none;
}

[data-load="loading"]::after {
    content: "";
    position: absolute;
    left: calc(50% - (0.75em / 2));
    top: calc(50% - (0.75em / 2));
    width: 0.75em;
    height: 0.75em;
    background-color: dodgerblue;
    border-radius: 50%;
    display: block;
    animation: wiggle 0.3s linear infinite alternate;
}

@keyframes wiggle {
    0%,
    20% {
        transform: translatex(-1em) scalex(1);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translatex(0) scalex(2);
        animation-timing-function: ease-out;
    }

    80%,
    100% {
        transform: translatex(1em) scalex(1);
    }
}

@keyframes explode {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.loading {
    padding:0px 90px 0px 65px;
    margin-top:-25px;
    margin-bottom: -15px;
    display: none;
}