<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    {% include "main/includes/navbar.html" %}
    <div class="container" style="text-align: center; padding-top: 25px;">
        <h1>Welcome to AlgoTracker!</h1>
        <p style="font-size: 145%;">Get email notifications when algorithmic trading strategies make trades!</p>
        <img class="responsive-img" src="../../static/stonks.jpg" style="width:750px;height:450px;">
        <p style="font-size: 235%;">Get started by looking at our <a href="/strategies/">available strategies</a></p>
        <p style="font-size: 90%;">DISCLAIMER: I am by no means an expert...</p>
        <p style="font-size: 90%;padding-bottom: 100px;">Please do further research outside of this website and use your own judgment before executing trades with real money.</p>
    </div>
</body>