<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>How it works:</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <h3>Test it out for yourself:</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn" type="submit">View Performance</button>
        </form>

        <a href="subscribe/">Click here to subscribe to be notified when to buy a stock based on the algorithm!</a>
    </div>

    {% include "main/includes/messages.html" %}
</body>


<script src="{% static 'tinymce/js/prism.js"></script>
<script>M.AutoInit();</script>