<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    {% include "main/includes/navbar.html" %}
    <br/>
    <div class="container">
        <h1>Strategies</h1>
        <div class="strategies">
            <div class="strategy">
            <a href="/atrlimitorder/">
                <h3 style="color: #11ad5a;">ATR Limit Order</h3>
                <img class="responsive-img" src="../../static/atr.png" style="width:750px;height:450px;">
            </a>
            </div>
            <div class="strategy">
            <a href="/goldencross/">
                <h3 style="color: #11ad5a;">Golden Cross</h3>
                <img class="responsive-img" src="../../static/goldencross.png" style="width:750px;height:450px;">
            </a>
            </div>
        </div>
        <div style="padding-bottom: 200px;"></div>
    </div>
</body>