<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    {% include "main/includes/navbar.html" %}
    <div class="container">
        <h3 style="padding-top: 35px;">Test it out for yourself:</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn" id="view-performance" type="submit" onclick="showLoader()">View Performance</button>
        </form>
        <div id="spinner" class="spinner" style="padding:0px 65px 0px 65px;display:none;">
            <div class="circle"></div>
        </div>
        <p><strong>(This may take a few seconds to load...)</strong></p>

        <div style="width:1000;height:500" onload="loading();">
            {{ buy_sell_graph|safe }}
        </div>

        <div style="width:1000;height:500">
            {{ gain_loss_graph|safe }}
        </div>

        <div style="width:1000;height:500">
            {{ total_cash_graph|safe }}
        </div>

        <div style="width:1000;height:500">
            {{ total_cash_buy_hold_graph|safe }}
        </div>

        <a href="/subscribe/ATR/" style="padding-bottom: 200px;">Click here to subscribe to be notified when to buy a stock based on the algorithm!</a>

    </div>

    {% include "main/includes/messages.html" %}
</body>

<script>M.AutoInit();</script>
<script>
    function showLoader() {
        document.getElementById('view-performance').style.display = "none";
        document.getElementById('spinner').style.display = "block";
    }
</script>