<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    {% include "main/includes/navbar.html" %}
    <div class="container">
        <h1>ATR Limit Order</h1>
        <h3>How it works:</h3>
        <p>This website uses a slightly modified strategy based off of the following video:</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rKGXIopVeQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p><strong>We can summarize our strategy with the following rules:</strong></p>
        <p>1. If we don't have a position in a stock and the closing price on a given day is greater than the 65-day high, we place a limit order for that day's low minus that day's <a href="https://www.investopedia.com/terms/a/atr.asp">ATR</a> multiplied by 2 that expires in 10 days (i.e. buy within the next 10 days only if price falls below that day's low - 2 * ATR, otherwise don't buy) </p>
        <p>2. If we have a position in the stock and the closing price on a given day is greater than the closing prices of all of the previous 50 days, we sell  </p>
        <p><strong>What I like about the strategy:</strong></p>
            <li>Due to the careful nature of the buy condition, trades rarely happen. This implies less risk than a typical buy and hold strategy in addition to the ability to have more freedom to do other things with one's assets.</li>
            <li>The algorithm tends to have a high win percentage</li>
            <li>The algorithm tends to do a good job finding peaks and valleys in a stock (for example, see below)</li>
        <img class="responsive-img" src="../../static/qqqexample.png">
        <p><strong>What I dislike about the strategy:</strong></p>
            <li>Although the algorithm has a high win percentage, when it loses, it loses bad</li>
            <li>The gains from wins are too small</li>
        <p><strong>Suggestions:</strong></p>
            <li>Try this out on stocks that fluctuate regularly and not ones that are steadily increasing or decreasing</li>
        <h3 style="padding-top: 35px;">Test it out for yourself:</h3>

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn" id="view-performance" type="submit" onclick="showLoader()">View Performance</button>
        </form>
        <div id="loading" class="loading" data-load="loading"></div>

        <p><strong>(This may take a few seconds to load...)</strong></p>

        <a href="/subscribe/ATR/" style="padding-bottom: 200px;">Click here to subscribe to be notified when to buy a stock based on the algorithm!</a>

    </div>

    {% include "main/includes/messages.html" %}
</body>

<script>M.AutoInit();</script>
<script>
    function showLoader() {
        document.getElementById('view-performance').style.display = "none";
        document.getElementById('loading').style.display = "block";
    }
</script>